<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Laporan'" [items]="['Pemasukan Klinik']" [active_item]="'Detail Pemasukan Klinik'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Detail Pemasukan Klinik</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" [routerLink]="['../../../../../view']"  class="btn-space bg-warning text-light mb-3" mat-raised-button><i class="fas fa-arrow-left"></i> Kembali</button>
        <div class="card">
          <div class="body">
            <div class="row mb-4">
              <div class="col-sm-8">
                <div class="row mb-2">
                  <div class="col-md-3">Nama Poli</div>
                  <div class="col-sm-9">: {{poli}}</div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-3">Periode Transaksi</div>
                  <div class="col-sm-9">: {{convertDate2(from,to)}}</div>
                </div>
              </div>
              <div class="col-sm-4 text-right">
                <button class="btn-space bg-success text-light" mat-raised-button color="success"(click)="export()"><i class="fa fa-download"></i> Excel</button>
              </div>
            </div>
            <table class="table table-striped table-bordered table-sm table-sm" width="100%" datatable [dtOptions]="dtOptions">
              <thead>
                  <tr>
                    <th rowspan="2">No</th>
                    <th rowspan="2" class="text-center">Tanggl Transaksi</th>
                    <th colspan="4" class="text-center">Jumlah Pasien</th>
                    <th rowspan="2" class="text-center">Total Pemasukan</th>
                  </tr>
                  <tr>
                    <th class="text-center">Pasien BPJS</th>
                    <th class="text-center">Pemasukan</th>
                    <th class="text-center">Pasien Reguler</th>
                    <th class="text-center">Pemasukan</th>
                  </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td >1</td>
                  <td>1 Januari 2023</td>
                  <td >200</td>
                  <td >Rp 200.000</td>
                  <td>200</td>
                  <td>Rp 400.000</td>
                  <td>Rp 600.000</td>
                </tr> -->
              </tbody>
            </table>

          </div>
        </div>



      </div>
    </div>
  </div>
  <ngx-spinner
[name]="'spinner1'"
bdColor = "rgba(0, 0, 0, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-multiple"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
