<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Master Data'" [items]="['Ruang dan Jadwal']" [active_item]="'Jadwal Sesi'"></app-breadcrumb>
    </div>
    <h3 class="text-center">Jadwal Sesi</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <button type="button" *ngIf="btnAdd" (click)="FormModalOpen()" class="btn-space mb-3" mat-raised-button color="primary"><i class="fas fa-plus"></i> Tambah Jadwal Sesi</button>

        <div class="card">
          <div class="header">
            <h2><strong>Jadwal Sesi</strong> </h2>
          </div>
          <div class="body">

            <table class="table table-sm table-striped table-bordered table-sm" width="100%" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th [width]="30">No</th>
                  <th>Nama Sesi</th>
                  <th>Jam Buka</th>
                  <th>Jam Tutup</th>
                  <th [width]="100">Aksi</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

            <jw-modal id="modalFormContent">
              <form [formGroup]="formTambah" (submit)="SubmitForm()">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
                </div>
                <div class="modal-body">


                  <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label fw-bold">Nama Sesi *</label>
                    <div class="col-sm-9">
                      <input type="text"
                      class="form-control"
                      [class.border-danger]="formTambah.controls.nama_sesi.hasError('required') && submitted"
                      formControlName="nama_sesi">
                      <div
                      class="form-text text-danger"
                      *ngIf="formTambah.controls.nama_sesi.hasError('required') && submitted">
                        Nama sesi tidak boleh kosong
                      </div>
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label fw-bold">Jam Buka</label>
                    <div class="col-sm-9">
                      <timepicker  formControlName="jam_buka" [minuteStep]="1" [showMeridian]="false" ></timepicker>
                      <!-- <select class="form-select" formControlName="jam_buka">
                        <option *ngFor="let item of listWaktuBuka" value="{{ item }}">{{ item }}</option>
                      </select> -->
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label fw-bold">Jam Tutup</label>
                    <div class="col-sm-9">
                      <timepicker  formControlName="jam_tutup" [minuteStep]="1" [showMeridian]="false" ></timepicker>
                      <!-- <select class="form-select" formControlName="jam_tutup">
                        <option *ngFor="let item of listWaktuTutup" value="{{ item }}">{{ item }}</option>
                      </select> -->
                    </div>
                  </div>

                  <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">
                    {{ errorMessage.metaData.message }}
                    <ul *ngFor="let item of errorMessage.response" >
                      <li>{{ item.field }} : {{ item.message }}</li>
                    </ul>
                  </div>

                </div>
                <div class="modal-footer">
                  <button class="btn-space bg-warning text-light" mat-raised-button type="button" [disabled]="isLoadingButton" (click)="modalClose()">Batal</button>
                  <button class="btn-space bg-success text-light" mat-raised-button type="submit" [disabled]="isLoadingButton" color="primary">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner pulse': isLoadingButton, 'fa-check': !isLoadingButton}"></i>
                    Simpan
                  </button>
                </div>
              </form>
            </jw-modal>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
