<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Master Tindakan'" [items]="[]" [active_item]="'Tindakan Dokter'"></app-breadcrumb>
    </div>
    <h3 class="text-center">Tindakan Dokter</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" *ngIf="btnAdd" class="btn-space" mat-raised-button color="primary" (click)="FormModalOpen()"> <i class="fas fa-plus"></i> Tambah</button>
        <br>
        <br>
        <div class="card">
          <div class="header">
            <h2><strong>Tindakan Dokter</strong> </h2>
          </div>
          <div class="body">
            <table class="table table-sm table-striped table-bordered table-sm" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Tindakan Dokter</th>
                  <th>Tanggal Insert</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Perawatan Jerawat</td>
                  <td>2022-01-19</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <jw-modal id="modalFormContent">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Form Tindakan Dokter</h4>
              </div>
              <div class="modal-body">
                <form [formGroup]="addCusForm" (submit)="dialogSubmit()">

                  <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label fw-bold">Nama tindakan</label>
                    <div class="col-sm-9">
                      <input formControlName="firstname" class="form-control " [class.border-danger]="addCusForm.controls.firstname.hasError('required') || addCusForm.controls.firstname.hasError('pattern')" autocomplete="off">
                      <div class="form-text text-danger"  *ngIf="addCusForm.controls.firstname.hasError('required')">
                        Nama tindakan dokter tidak boleh kosong
                      </div>
                      <div class="form-text text-danger" *ngIf="addCusForm.controls.firstname.hasError('pattern')">
                        Nama tindakan dokter tidak valid
                      </div>
                    </div>
                  </div>


                </form>
              </div>
              <div class="modal-footer">
                <button class="btn-space bg-warning text-light" mat-raised-button type="button" (click)="modalClose()">Batal</button>
                <button class="btn-space bg-success text-light" mat-raised-button type="button" color="primary">Simpan</button>
              </div>
            </jw-modal>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



