<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Master Data'" [items]="['Ruang dan Jadwal']" [active_item]="'Jadwal Libur'"></app-breadcrumb>
    </div>
    <h3 class="text-center">Jadwal Libur</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- (click)="FormModalOpen()" -->
        <button type="button" *ngIf="btnAdd" [routerLink]="['../add']" class="btn-space mb-3" mat-raised-button color="primary"><i class="fas fa-plus"></i> Tambah Jadwal Libur</button>

        <div class="card">
          <div class="header">
            <h2><strong>Jadwal Libur</strong> </h2>
          </div>
          <div class="body">

            <table class="table table-sm table-striped table-bordered table-sm" width="100%" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th [width]="30">No</th>
                  <th>Tgl. Libur</th>
                  <th>Ket. Libur</th>
                  <th [width]="100">Aksi</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
