<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Perawat'" [items]="[]" [active_item]="'Antrean Perawat ' + poli_name "></app-breadcrumb>
    </div>
    <h3 class="text-center pb-3">Antrean Perawat {{ poli_name }}</h3>

   

    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
          </div>
          <div class="body">

            <table class="table table-sm table-striped table-bordered table-sm" width="100%" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>No Antrean</th>
                  <th>Nama</th>
                  <th>Nama Sesi</th>
                  <th>Proses Antrean</th>
                  <th>Status Input Pasien</th>
                  <th>Tgl Antrean</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
