.col-no{
    width: 5% !important;
}
.col-barang{
    width: 30% !important;
}
.col-diskon{
    width: 10% !important;
}
.col-hrg{
    width: 10% !important;
}
.col-subtotal{
    width: 15% !important;
}
.col-jml{
    width: 20% !important;
}
.col-aksi{
    width: 10% !important;
}
