<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Pasien'" [items]="['Antrean']" [active_item]="'Daftar Antrean Pasien'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-3">Daftar Antrean Pasien</h3>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2><strong>Form Pencarian</strong> </h2>
        </div>
        <div class="body">

          <div class="row">
            <label class="col-sm-2 col-form-label fw-bold text-end">Poliklinik</label>
            <div class="col-sm-8">
              <select #id_select_poliklinik class="form-select">
                <option value="">Semua Poliklinik</option>
                <option *ngFor="let item of listPoliklinik" value="{{ item.id_poliklinik }}">{{ item.nama_poliklinik }}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-right">
              <button class="btn-space" mat-raised-button color="primary" (click)="ButtonCari()"><i class="fa fa-search"></i> Cari</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>Daftar Antrean Pasien</strong> </h2>
          </div>
          <div class="body">

            <table class="table table-sm table-striped table-bordered table-sm" datatable [dtOptions]="dtOptions" width="100%">
              <thead>
                <tr>
                  <th>No Antrean</th>
                  <th>Nama</th>
                  <th>Nama Sesi</th>
                  <th>Proses Antrean</th>
                  <th>Status Input Pasien</th>
                  <th>Poliklinik</th>
                  <th>Tgl Antrean</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
