<section class="content">
	<div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Resep'" [items]="['Add']" [active_item]="'Add Resep'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Add Resep</h3>
    
    <button type="button" [routerLink]="[urlBack]" class="btn-space bg-warning text-light mb-3" mat-raised-button><i class="fas fa-arrow-left"></i> Kembali</button>

    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" [class.active]="tabPane.pane1" (click)="ShowTabPane(1)" type="button" >
                  DETAIL PASIEN
                </button>
                <button class="nav-link" [class.active]="tabPane.pane2" (click)="ShowTabPane(2)" type="button" >OBAT RESEP</button>
              </div>
            </nav>
            <div class="tab-content">
              <div class="tab-pane fade" [class.active]="tabPane.pane1" [class.show]="tabPane.pane1" [formGroup]="formTambah">
                <div class="row g-3">
                   <div class="col">
                    <div class="row">
                      <div class="col-md-4">No RM </div>
                      <div class="col-md-8">{{formTambah.value.no_rm}}</div>
                    </div>
                   </div>
                   <div class="col">
                    <div class="row">
                      <label class="col-md-4">Jenis Kelamin</label>
                      <div class="col-md-8">{{formTambah.value.jenis_kelamin}}</div>
                    </div>
                    </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                  
                    <div class="row">
                      <label class="col-md-4">No BPJS </label>
                      <div class="col-md-8">{{formTambah.value.no_bpjs}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Golongan Darah </label>
                      <div class="col-md-8">{{formTambah.value.golongan_darah}}</div>
                    </div>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Status BPJS</label>
                      <div class="col-md-8">{{formTambah.value.status_bpjs==1?'Aktif':'Tidak Aktif'}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">No Telp/HP</label>
                      <div class="col-md-8">( {{formTambah.value.kode_phone}} ) {{dekryp(formTambah.value.no_hp)}}</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">NIK </label>
                      <div class="col-md-8">{{dekryp(formTambah.value.nik)}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Agama</label>
                      <div class="col-md-8">{{formTambah.value.agama}}</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Nama Panggilan</label>
                      <div class="col-md-8">{{formTambah.value.nama_panggilan}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Status Perkawinan</label>
                      <div class="col-md-8">{{formTambah.value.status_perkawinan}}</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Nama</label>
                      <div class="col-md-8">{{formTambah.value.nama}}</div>
                    </div>
                  </div>
                
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Pekerjaan </label>
                      <div class="col-md-8">{{formTambah.value.pekerjaan}}</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Tempat Lahir</label>
                      <div class="col-md-8">{{formTambah.value.tempat_lahir}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Kewarganegaraan</label>
                      <div class="col-md-8">{{formTambah.value.kewarganegaraan}}</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Tanggal Lahir</label>
                      <div class="col-md-8">{{formTambah.value.tgl_lahir}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label class="col-md-4">Jenis Alamat</label>
                      <div class="col-md-8">{{formTambah.value.jenis_alamat}}</div>
                    </div>
                  </div>
                  
                </div>
                <div class="row mt-3">
                  <div class="mt-3 col-sm-12">
                    <label for="">Alamat Sesuai KTP</label>
                    <hr>
                  </div>
                  <div class="mb-3 col-sm-6">
                    <div class="row">
                      <label class="col-md-4">Provinsi </label>
                      <div class="col-md-8">{{formTambah.value.provinsi}}</div>
                    </div>
                  </div>

                  <div class="mb-3 col-sm-6">
                    <div class="row">
                      <label class="col-md-4">Kabupaten / Kota</label>
                      <div class="col-md-8">{{formTambah.value.kabupaten}}</div>
                    </div>
                  </div>

                  <div class="mb-3 col-sm-6">
                    <div class="row">
                      <label class="col-md-4">Kecamatan </label>
                      <div class="col-md-8">{{formTambah.value.kecamatan}}</div>
                    </div>
                  </div>

                  <div class="mb-3 col-sm-6">
                    <div class="row">
                      <label class="col-md-4">Desa / Kelurahan</label>
                      <div class="col-md-8">{{formTambah.value.desa}}</div>
                    </div>
                  </div>

                  <div class="mb-3 col-sm-6">
                    <div class="row">
                      <label class="col-md-4">Alamat</label>
                      <div class="col-md-8">{{dekryp(formTambah.value.alamat)}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" [class.active]="tabPane.pane2" [class.show]="tabPane.pane2">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <div [formGroup]="formDiagnosa">
                      <div class="card mb-4 mt-2">
                        <div class="card-header">ALERGI</div>
                        <div class="card-body">
                          {{formDiagnosa.value.alergi}}
                        </div>
                      </div>
                      <div class="card mb-4">
                        <div class="card-header">TINDAKAN</div>
                        <div class="card-body">
                          {{riwayat?.tindakan}}
                        </div>
                      </div>
                    </div>
                    <div class="card mb-4" [formGroup]="formDiagnosaBiaya">
                      <div class="card-header">BIAYA</div>
                      <div class="card-body">
                        <div class="row mb-2">
                          <div class="col-md-4">
                            JT
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <input currencyMask [options]="optionsCur" (keyup)="setNull($event);inputChange()" formControlName="jt" class="form-control">
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-4">
                            BHP
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <input currencyMask [options]="optionsCur" (keyup)="setNull($event);inputChange()" formControlName="bhp" class="form-control">
                          </div>
                        </div>

                        <div class="row mb-2">
                          <div class="col-md-4">
                            JM
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <input currencyMask [options]="optionsCur" (keyup)="setNull($event);inputChange()" formControlName="jm" class="form-control">
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-4">
                            BIAYA DOKTER
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <input currencyMask [options]="optionsCur" (keyup)="setNull($event);inputChange()" formControlName="biaya_dokter" class="form-control">
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-4">
                            BIAYA TINDAKAN MEDIS
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            {{Money(formDiagnosaBiaya.value.biaya_tindakan)}}
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-4">
                            LAIN - LAIN
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <input currencyMask [options]="optionsCur" (keyup)="setNull($event);inputChange()" formControlName="lain_lain" class="form-control">
                          </div>
                        </div>
                        <!-- <div class="row mb-2">
                          <div class="col-md-4">
                            BIAYA TINDAKAN
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            {{Money(biaya_tindakan)}}
                          </div>
                        </div> -->
                        <div class="row mb-2">
                          <div class="col-md-4">
                            OBAT
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <p>{{Money(totalObat)}}</p>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-4">
                            PAJAK
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <table style="width: 100%;">
                              <tr>
                                <td>
                                  <div class="input-group" style="width: 90px;">
                                    <input type="text" (keyup)="setNull($event);inputChange()" (change)="setNull($event);inputChange()"  formControlName="pajak" class="form-control">
                                    <span class="input-group-text">%</span>
                                  </div>
                                </td>
                                <td>{{Money(totalPajak)}}</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-4">
                           TOTAL
                          </div>
                          <div class="col-md-8" style="display: inline-flex;">
                            <p>{{Money(totalAll)}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card mb-4">
                      <div class="card-header">RESEP DOKTER</div>
                      <div class="card-body" >
                        {{resep_obat}}
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">FORM RESEP</div>
                      <div class="card-body">
                        <button type="button" (click)="add()" class="btn-space mb-3 pull-right" mat-raised-button color="primary" >
                          <i class="fas fa-plus"></i> Add Resep
                        </button>
                        <table class="table table-striped table-bordered table-sm" width="100%" >
                          <thead>
                            <tr>
                              <th>No</th>
                              <th>Nama Obat</th>
                              <th>Harga</th>
                              <th>Jumlah</th>
                              <th>Satuan</th>
                              <th>Subtotal</th>
                              <th>Signa</th>
                              <th>Aksi</th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let item of dataAdd; let i=index">
                              <td>{{i+1}}</td>
                              <td>{{item.nama_obat}}</td>
                              <td>{{Money(item.satuan_harga)}}
                                <p>Diskon: <span class="badge bg-warning">{{Money(item.diskon_rupiah)}}</span></p>
                              </td>
                              <td>{{item.satuan_qty}}</td>
                              <td>{{item.satuan}}</td>
                              <td>{{Money(item.subtotal)}}</td>
                              <td>{{item.signa_jumlah+'x'+item.signa_hari}} hari</td>
                              <td>
                                <button class="btn btn-link circle-primary text-ui-primary" (click)="edit(item)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-link circle-danger text-ui-danger" (click)="hapus(item.id_penjualan_resep_detail,item.subtotal)"><i class="far fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        <br>
                        <p class="text-center">
                          <button class="btn-space bg-success text-light" mat-raised-button (click)="finish()">Simpan</button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner [name]="'spinner1'" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
  <jw-modal id="modalFormContent">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <ng-select style="flex: 1 1 auto;" [loading]="isLoadingObat" [(ngModel)]="id_obat" name="id_obat" [virtualScroll]="true"  (change)="setObat()" placeholder="Pilih Obat" [searchable]="true" [clearable]="true" (search)="prosesSelectObat($event, 'search')" (scrollToEnd)="prosesSelectObat($event, 'last_page')" 
      [clearSearchOnAdd]="true"
      (open)="prosesSelectObat($event, 'open')" (clear)="prosesSelectObat($event, 'clear')">
        <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
        <ng-option *ngFor="let itm of optionObat" [value]="itm.id_obat">{{itm.nama_obat}}</ng-option>
      </ng-select>
      <div *ngIf="id_obat!=null" class="mt-2">
        <div class="alert alert-info mb-2">
          <b><i class="fa fa-info-circle"></i> Info Stok: {{stok}} {{dataObat.obat_kemasan[0].nama_kemasan}}</b> 
        </div>
        <label >Harga</label>
        <div class="row mb-2">
          <div class="col">
            <input type="text" (keypress)="isNumber($event)" disabled class="form-control" name="harga" [(ngModel)]="dataObat.harga_jual">
          </div>
          <div class="col">
          </div>
        </div>
        
        <div class="row mb-2">
          <div class="col">
            <label >Satuan Qty <span class="text-danger"><b>*</b></span></label>
            <input type="text" (keypress)="isNumber($event)" class="form-control" name="qty" (change)="getBatchObat()" [(ngModel)]="satuan_qty">
            <p class="text-danger" *ngIf="getNumber(satuan_qty)=='NaN'">*Satuan Qty tidak boleh kosong</p>
            <p class="text-danger" *ngIf="totalStok>maxJml">*Stok tidak mencukupi dari permintaan, maksimal stok: {{maxJml}}</p>
          </div>
          <div class="col">
            <span class="px-2">Kemasan<span class="text-danger"><b>*</b></span></span>
            <ng-select style="flex: 1 1 auto;" [(ngModel)]="kemasan" (change)="setMaxJml($event)"
              placeholder="Pilih Kemasan" [clearable]="true" >
             <ng-option *ngFor="let itm of dataObat.obat_kemasan" [value]="itm">{{itm.nama_kemasan+'( '+itm.target_qty+' '+itm.target_kemasan+' )'}}</ng-option>
            </ng-select>
            <p class="text-danger" *ngIf="submitted && kemasan==null">*Kemasan tida boleh kosong</p>
          </div>
        </div>
        <label >Signa</label>
        <div class="row mb-2">
          <div class="col">
            <div class="card-body">
             <div class="input-group">
              <span class="input-group-append mx-2 mt-2">Jumlah<span class="text-danger"><b>*</b></span></span>
              <input type="text" (keypress)="isNumber($event)"  class="form-control" min="1" placeholder="signa jumlah" name="signa_jumlah" [(ngModel)]="signa_jml">
             </div>
            </div>
            <p class="text-danger" *ngIf="submitted && (signa_jml==null||signa_jml<=0)">*Signa jumlah tidak boleh kosong dan lebih dari 0</p>
          </div>
          <div class="col">
            <div class="card-body">
              <div class="input-group">
                <span class="input-group-append mx-2 mt-2">Hari<span class="text-danger"><b>*</b></span></span>
                <input type="text" (keypress)="isNumber($event)"  class="form-control" placeholder="signa hari" name="signa_hari" [(ngModel)]="signa_hari">
              </div>
            </div>
            <p class="text-danger" *ngIf="submitted && (signa_hari==null ||signa_hari<=0)">*Signa hari tida boleh kosong</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col">
            <label>Diskon <span class="text-danger"><b>*</b></span></label>
            <input type="text" (keypress)="isNumber($event)"  class="form-control" placeholder="Diskon" 
            *ngIf="jenis_diskon=='persen'" name="diskon" [(ngModel)]="diskon">
            <input currencyMask [options]="optionsCur"  class="form-control" placeholder="Diskon Rupiah" 
            *ngIf="jenis_diskon=='rupiah'" name="diskon" [(ngModel)]="diskon">

            <p class="text-danger" *ngIf="submitted && (diskon==null||diskon<0)">*Diskon tida boleh kosong</p>
          </div>
          <div class="col">
            <span class="">Jenis Diskon <span class="text-danger"><b>*</b></span></span>
            <select [(ngModel)]="jenis_diskon"  name="jenis_diskon" class="form-select">
              <ng-container >
                <option value="persen">%</option>
                <option value="rupiah">Rp</option>
              </ng-container>
            </select>
            <p class="text-danger" *ngIf="submitted && jenis_diskon==''">*Jenis diskon tida boleh kosong</p>
          </div>
        </div>
      </div>
      <div class="row mt-2" >
        <div class="col-sm-12 text-end">
          <button class="btn-space bg-warning text-light" mat-raised-button type="button" (click)="modalClose()">Batal</button>
          <button class="btn-space bg-success text-light" mat-raised-button *ngIf="id_obat!=null" (click)="simpanResep()">Simpan</button>
        </div>
      </div>
    </div>
  </jw-modal>
  <jw-modal id="modalBayar">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Form Pembayaran</h4>
    </div>
    <form  (submit)="bayar()" class="mt-3">
      <div class="modal-body">
        <div class="row mb-2">
          <label class="col-sm-4 col-form-label fw-bold">Jenis Pembayaran</label>
          <div class="col-sm-8">
            <select name="jenis_pembayaran" [(ngModel)]="jenis_pembayaran" class="form-control">
              <option value="tunai">Tunai</option>
              <option value="transfer">Transfer</option>
            </select>
            <div class="form-text text-danger" *ngIf="jenis_pembayaran=='' && submitted">
              Jenis Pembayaran tidak boleh kosong
            </div>
          </div>
        </div>
        <div class="row mb-2" *ngIf="jenis_pembayaran=='transfer'">
          <label class="col-sm-4 col-form-label fw-bold">Metode Pembayaran</label>
          <div class="col-sm-8">
           
            <select class="form-control" [(ngModel)]="id_metode_bayar">
              <option value="">Pilih Metode Pembayaran</option>
              <option  *ngFor="let item of optionMetodeBayar" [value]="item.id_metode_bayar">{{item.nama_bank}}</option>
            </select>
            <div class="form-text text-danger" *ngIf="id_metode_bayar=='' && submitted">
              Metode Pembayaran tidak boleh kosong
            </div>
          </div>
        </div>
        
        <h4 class="my-2"><b>TOTAL BAYAR: {{Money(jumlah_pembayaran)}}</b></h4>
      </div>
      <div class="row">
        <div class="col-sm-12 text-end">
          <button class="btn-space bg-warning text-light" mat-raised-button type="button" (click)="modalBayarClose()">Batal</button>
          <button class="btn-space bg-success text-light" mat-raised-button type="submit">Simpan</button>
        </div>
      </div>
    </form>
  </jw-modal>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
