<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Pasien'" [items]="['Data Pasien']" [active_item]="'Edit Data Pasien'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-3">Edit Data Pasien</h3>
    <div class="col-md-12 mb-3">
    <button class="btn-space bg-warning text-light" mat-raised-button  [disabled]="isLoadingButton" [routerLink]="['../../view']" type="button" >
      <i class="fa fa-arrow-circle-left"></i> Kembali
    </button>
    </div>
    <div class="">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <form [formGroup]="formTambah" (submit)="SubmitForm()">
            <div class="header">
              <h2><strong>Edit Data Pasien</strong> </h2>
            </div>
            <div class="body">
              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Tanggal Daftar <span class="color-red">*</span></label>
                    <div class="input-group">
                      <input type="text"
                      class="form-control"
                      formControlName="tanggal_daftar"
                      bsDatepicker
                      [outsideClick]="true"
                      [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', returnFocusToInput: true }"
                      [class.border-danger]="formTambah.controls.tanggal_daftar.hasError('required') && submitted"
                      placeholder="Masukkan Tanggal Lahir"  id="tgl1">
                      <span class="input-group-text" style="cursor: pointer;background: white; border-left: 0px;" (click)="onFocus('tgl1')">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.tgl_lahir.hasError('required') && submitted">
                      Tanggal daftar tidak boleh kosong
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">No RM </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <input type="text" (keypress)="isNumber($event)"
                      class="form-control" disabled
                      formControlName="no_rm"
                      [class.border-danger]="formTambah.controls.no_rm.hasError('required') && submitted"
                      placeholder="Masukkan No Rekam Medis" >
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.no_rm.hasError('required') && submitted">
                      No. RM tidak boleh kosong
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Jenis Kelamin <span class="color-red">*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <select  class="form-select"
                      formControlName="jenis_kelamin"
                      [class.border-danger]="formTambah.controls.jenis_kelamin.hasError('required') && submitted" >
                        <option value="">Silahkan Pilih Jenis Kelamin</option>
                        <option value="L">Laki - laki</option>
                        <option value="P">Perempuan</option>
                      </select>
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.jenis_kelamin.hasError('required') && submitted">
                      Jenis kelamin tidak boleh kosong
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">No BPJS </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <input type="text" (keypress)="isNumber($event)"
                      formControlName="no_bpjs"
                      [class.border-danger]="formTambah.controls.no_bpjs.hasError('required') && submitted"
                      class="form-control" placeholder="Masukkan No BPJS" >
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.no_bpjs.hasError('required') && submitted">
                      No. BPJS tidak boleh kosong
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Golongan Darah </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <select formControlName="golongan_darah"
                      [class.border-danger]="formTambah.controls.golongan_darah.hasError('required') && submitted"
                      class="form-select">
                        <option value="">Silahkan Pilih Golongan Darah</option>

                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                      </select>
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.golongan_darah.hasError('required') && submitted">
                      Golongan darah tidak boleh kosong
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Status BPJS </label>
                    <div class="input-group">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="status_bpjs" id="status_bpjs1" [checked]="formTambah.value.status_bpjs==0"  value="0">
                        <label class="form-check-label" for="status_bpjs1">Tidak Aktif</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="status_bpjs" id="status_bpjs2" [checked]="formTambah.value.status_bpjs==1" value="1">
                        <label class="form-check-label" for="status_bpjs2">Aktif</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">No Telp/HP <span class="color-red">*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                        <ng-select 
                          class="selectFlag"
                          name="dial_code"  
                          formControlName="dial_code"
                          bindLabel="name"
                          bindValue="dial_code" 
                          placeholder="Kode Negara"
                          [searchable]="true" 
                          [clearable]="true"
                          [loading]="loadingState"
                          (search)="prosesSelectState($event, 'search')"
                          (open)="prosesSelectState($event, 'open')"
                          [items]="listState"
                          >
                          <ng-template ng-label-tmp let-item="item">
                              <span class="left"><img [src]="'/assets/images/flag/'+item.flag+'.png'" class="flag img img-responsive mx-2" /></span> <b class="px-2 right">{{ item.dial_code }}</b>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                              <span class="left"><img width="20px" [src]="'/assets/images/flag/'+item.flag+'.png'" class="flag img img-responsive mx-2" />{{ item.name }}</span> <b class="px-2 right">({{ item.dial_code }})</b>
                          </ng-template>
                        </ng-select>
                      <input type="text" class="form-control"  (keypress)="isNumber($event)"
                       [class.border-danger]="formTambah.controls.no_hp.hasError('required') && submitted"
                      formControlName="no_hp" id="no_hp" placeholder="Masukkan No Telp/HP">
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="(formTambah.controls.no_hp.hasError('required')||formTambah.controls.dial_code.hasError('required') )&& submitted">
                      No Telp/HP tidak boleh kosong
                    </div>
                  </div>
                </div>
              </div>



              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">NIK <span class="color-red">*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                      <input type="text" (keypress)="isNumber($event)" formControlName="nik"
                      [class.border-danger]="formTambah.controls.nik.hasError('required') && submitted"
                      class="form-control" placeholder="Masukkan NIK" >
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.nik.hasError('required') && submitted">
                      NIK tidak boleh kosong
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Agama </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <select formControlName="agama" class="form-select">
                        <option value="">Silahkan Pilih Agama</option>
                        <option value="Islam">Islam</option>
                        <option value="Katolik">Katholik</option>
                        <option value="Protestan">Protestan</option>
                        <option value="Hindu">Hindu</option>
                        <option value="Buddha">Buddha</option>
                        <option value="Khonghucu">Khonghucu</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Nama Panggilan <span class="color-red">*</span></label>
                    <div class="input-group">

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="nama_panggilan" checked value="SDR">
                        <label class="form-check-label">SDR</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="nama_panggilan" value="SDRI">
                        <label class="form-check-label">SDRI</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="nama_panggilan" value="TUAN">
                        <label class="form-check-label">TUAN</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="nama_panggilan" value="NYONYA">
                        <label class="form-check-label">NYONYA</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="nama_panggilan" value="NONA">
                        <label class="form-check-label">NONA</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="nama_panggilan" value="ANAK">
                        <label class="form-check-label">ANAK</label>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Status Perkawinan </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <select formControlName="status_perkawinan" class="form-select">
                        <option value="">Status Perkawinan</option>
                        <option value="Belum Kawin">Belum Kawin</option>
                        <option value="Kawin">Kawin</option>
                        <option value="Cerai Hidup">Cerai Hidup</option>
                        <option value="Cerai Mati">Cerai Mati</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Nama <span class="color-red">*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <input type="text" formControlName="nama"
                      [class.border-danger]="formTambah.controls.nama.hasError('required') && submitted"
                      class="form-control" placeholder="Masukkan Nama" >
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.nama.hasError('required') && submitted">
                      Nama tidak boleh kosong
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Pekerjaan </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <input type="text" class="form-control" formControlName="pekerjaan" placeholder="Masukkan Pekerjaan">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Tempat Lahir </label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <input type="text" class="form-control" formControlName="tempat_lahir" placeholder="Masukkan Tempat Lahir" >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Kewarganegaraan <span class="color-red">*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                      <select formControlName="kewarganegaraan" class="form-select">
                        <option value="">Pilih Kewarganegaraan</option>
                        <option value="WNI">WNI</option>
                        <option value="WNA">WNA</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label fw-bold">Tanggal Lahir <span class="color-red">*</span></label>
                    <div class="input-group">
                      <input type="text"
                      class="form-control"
                      formControlName="tgl_lahir"
                      bsDatepicker
                      (input)="changeTglLahir()"
                      (bsValueChange)="changeTglLahir()"
                      [outsideClick]="true"
                      [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', returnFocusToInput: true }"
                      [class.border-danger]="formTambah.controls.tgl_lahir.hasError('required') && submitted"
                      placeholder="Masukkan Tanggal Lahir" id="tgl2">
                      <span class="input-group-text" style="cursor: pointer;background: white; border-left: 0px;" (click)="onFocus('tgl2')">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <div class="form-text text-danger"
                    *ngIf="formTambah.controls.tgl_lahir.hasError('required') && submitted">
                      Tanggal lahir tidak boleh kosong
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">

                  </div>
                </div>
              </div>


              <div class="mt-3 col-sm-6">
                <label >Alamat Sesuai KTP</label>
                <hr>
              </div>

              <div class="mb-3 col-sm-6">
                <label class="form-label fw-bold">Provinsi</label>
                <div class="input-group col-sm-12">
                  <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                  <ng-select
                    style="flex: 1 1 auto;"
                    [virtualScroll]="true"
                    (change)="changeProvinsi(tipeAlamat.KTP)"
                    placeholder="Pilih Provinsi"
                    [searchable]="true"
                    [(ngModel)]="idProvinsiKtp"
                    [ngModelOptions]="{standalone: true}"
                    [clearable]="true"
                    [clearSearchOnAdd]="true"
                    (search)="prosesSelectProvinsi($event, 'search')"
                    (scrollToEnd)="prosesSelectProvinsi($event, 'last_page')"
                    (open)="prosesSelectProvinsi($event, 'open')"
                    (clear)="prosesSelectProvinsi($event, 'clear')"
                  >
                  <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                  <ng-option *ngFor="let item of listProvinsiKtp" [value]="item.id">{{item.name}}</ng-option>
                </ng-select>


                </div>
              </div>

              <div class="mb-3 col-sm-6">
                <label class="form-label fw-bold">Kabupaten / Kota</label>
                <div class="input-group ">
                  <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                  <ng-select
                    style="flex: 1 1 auto;"
                    [virtualScroll]="true"
                    (change)="changeKabupaten(tipeAlamat.KTP)"
                    placeholder="Pilih Kabupaten"
                    [searchable]="true"
                    [(ngModel)]="idKabupatenKtp"
                    [ngModelOptions]="{standalone: true}"
                    [clearable]="true"
                    [clearSearchOnAdd]="true"
                    (search)="prosesSelectKabupatenKtp($event,'search')"
                    (scrollToEnd)="prosesSelectKabupatenKtp($event,'last_page')"
                    (open)="prosesSelectKabupatenKtp($event,'open')"
                    (clear)="prosesSelectKabupatenKtp($event,'clear')"
                  >
                  <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                  <ng-option *ngFor="let item of listKabupatenKtp" [value]="item.id">{{item.name}}</ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="mb-3 col-sm-6">
                <label class="form-label fw-bold">Kecamatan</label>
                <div class="input-group ">
                  <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                  <ng-select
                    style="flex: 1 1 auto;"
                    [virtualScroll]="true"
                    (change)="changeKecamatan(tipeAlamat.KTP)"
                    placeholder="Pilih Kecamatan"
                    [searchable]="true"
                    [(ngModel)]="idKecamatanKtp"
                    [ngModelOptions]="{standalone: true}"
                    [clearable]="true"
                    [clearSearchOnAdd]="true"
                    (search)="prosesSelectKecamatanKtp($event,'search')"
                    (scrollToEnd)="prosesSelectKecamatanKtp($event,'last_page')"
                    (open)="prosesSelectKecamatanKtp($event,'open')"
                    (clear)="prosesSelectKecamatanKtp($event,'clear')"
                  >
                  <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                  <ng-option *ngFor="let item of listKecamatanKtp" [value]="item.id">{{item.name}}</ng-option>
                </ng-select>
                </div>
              </div>

              <div class="mb-3 col-sm-6">
                <label class="form-label fw-bold">Desa / Kelurahan</label>
                <div class="input-group ">
                  <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                  <ng-select
                    style="flex: 1 1 auto;"
                    [virtualScroll]="true"
                    placeholder="Pilih Desa"
                    [searchable]="true"
                    [(ngModel)]="idDesaKtp"
                    [ngModelOptions]="{standalone: true}"
                    [clearable]="true"
                    [clearSearchOnAdd]="true"
                    (search)="prosesSelectDesaKtp($event,'search')"
                    (scrollToEnd)="prosesSelectDesaKtp($event,'last_page')"
                    (open)="prosesSelectDesaKtp($event,'open')"
                    (clear)="prosesSelectDesaKtp($event,'clear')"
                  >
                  <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                  <ng-option *ngFor="let item of listDesaKtp" [value]="item.id">{{item.name}}</ng-option>
                </ng-select>
                </div>
              </div>



              <div class="mb-3 col-sm-6">
                <label class="form-label fw-bold">Alamat <span class="color-red">*</span></label>
                <div class="input-group ">
                  <!-- <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span> -->
                  <textarea formControlName="alamat_ktp" cols="3" rows="3"
                  [class.border-danger]="formTambah.controls.alamat_ktp.hasError('required') && submitted"
                  class="form-control"></textarea>
                </div>
                <div class="form-text text-danger"
                *ngIf="formTambah.controls.alamat_ktp.hasError('required') && submitted">
                Alamat tidak boleh kosong
                </div>
              </div>

              <div class="py-3 col-sm-6">
                <!-- <label >Alamat Sesuai KTP</label> -->
                <label class="form-label fw-bold pe-3">Tambahkan Alamat Domisili ? </label>
                <input class="form-check-input" [checked]="checkboxAlamatDomisili" type="checkbox" (change)="changeCheckboxAlamatDomisili($event)">
              </div>


              <div *ngIf="checkboxAlamatDomisili">
                <div class=" col-sm-6">
                  <label class="fw-bold">Alamat Domisili</label>
                  <hr>
                </div>

                <div class="mb-3 col-sm-6">
                  <label class="form-label fw-bold">Provinsi</label>
                  <div class="input-group col-sm-12">
                    <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                    <ng-select
                      style="flex: 1 1 auto;"
                      [virtualScroll]="true"
                      (change)="changeProvinsi(tipeAlamat.DOMISILI)"
                      placeholder="Pilih Provinsi"
                      [searchable]="true"
                      [(ngModel)]="idProvinsiDomisili"
                      [ngModelOptions]="{standalone: true}"
                      [clearable]="true"
                      [clearSearchOnAdd]="true"
                      (search)="prosesSelectProvinsiDomisili($event,search)"
                      (scrollToEnd)="prosesSelectProvinsiDomisili($event,'last_page')"
                      (open)="prosesSelectProvinsiDomisili($event,'open')"
                      (clear)="prosesSelectProvinsiDomisili($event,'clear')"
                    >
                    <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                    <ng-option *ngFor="let item of listProvinsiDomisili" [value]="item.id">{{item.name}}</ng-option>
                  </ng-select>

                  </div>
                </div>

                <div class="mb-3 col-sm-6">
                  <label class="form-label fw-bold">Kabupaten / Kota</label>
                  <div class="input-group ">
                    <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                    <ng-select
                      style="flex: 1 1 auto;"
                      [virtualScroll]="true"
                      (change)="changeKabupaten(tipeAlamat.DOMISILI)"
                      placeholder="Pilih Kabupaten"
                      [searchable]="true"
                      [(ngModel)]="idKabupatenDomisili"
                      [ngModelOptions]="{standalone: true}"
                      [clearable]="true"
                      [clearSearchOnAdd]="true"
                      (search)="prosesSelectKabupatenDomisili($event,'search')"
                      (scrollToEnd)="prosesSelectKabupatenDomisili($event,'last_page')"
                      (open)="prosesSelectKabupatenDomisili($event,'open')"
                      (clear)="prosesSelectKabupatenDomisili($event,'clear')"
                    >
                    <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                    <ng-option *ngFor="let item of listKabupatenDomisili" [value]="item.id">{{item.name}}</ng-option>
                  </ng-select>
                  </div>
                </div>

                <div class="mb-3 col-sm-6">
                  <label class="form-label fw-bold">Kecamatan</label>
                  <div class="input-group ">
                    <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                    <ng-select
                      style="flex: 1 1 auto;"
                      [virtualScroll]="true"
                      (change)="changeKecamatan(tipeAlamat.DOMISILI)"
                      placeholder="Pilih Kecamatan"
                      [searchable]="true"
                      [(ngModel)]="idKecamatanDomisili"
                      [ngModelOptions]="{standalone: true}"
                      [clearable]="true"
                      [clearSearchOnAdd]="true"
                      (search)="prosesSelectKecamatanDomisili($event,'search')"
                      (scrollToEnd)="prosesSelectKecamatanDomisili($event,'last_page')"
                      (open)="prosesSelectKecamatanDomisili($event,'open')"
                      (clear)="prosesSelectKecamatanDomisili($event,'clear')"
                    >
                    <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                    <ng-option *ngFor="let item of listKecamatanDomisili" [value]="item.id">{{item.name}}</ng-option>
                  </ng-select>
                  </div>
                </div>

                <div class="mb-3 col-sm-6">
                  <label class="form-label fw-bold">Desa / Kelurahan</label>
                  <div class="input-group ">
                    <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span>
                    <ng-select
                      style="flex: 1 1 auto;"
                      [virtualScroll]="true"
                      placeholder="Pilih Desa"
                      [searchable]="true"
                      [(ngModel)]="idDesaDomisili"
                      [ngModelOptions]="{standalone: true}"
                      [clearable]="true"
                      [clearSearchOnAdd]="true"
                      (search)="prosesSelectDesaDomisili($event,'search')"
                      (scrollToEnd)="prosesSelectDesaDomisili($event,'last_page')"
                      (open)="prosesSelectDesaDomisili($event,'open')"
                      (clear)="prosesSelectDesaDomisili($event,'clear')"
                    >
                    <ng-option value="" disabled>Please enter 3 or more characters</ng-option>
                    <ng-option *ngFor="let item of listDesaDomisili" [value]="item.id">{{item.name}}</ng-option>
                  </ng-select>
                  </div>
                </div>

                <div class="mb-3 col-sm-6">
                  <label class="form-label fw-bold">Alamat</label>
                  <div class="input-group ">
                    <!-- <span class="input-group-text"> <i class="fas fa-bookmark"></i> </span> -->
                    <textarea formControlName="alamat_domisili" cols="3" rows="3" class="form-control"></textarea>
                  </div>
                </div>

              </div>

              <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">
                {{ errorMessage.metaData.message }}
                <ul *ngFor="let item of errorMessage.response" >
                  <li>{{ item.field }} : {{ item.message }}</li>
                </ul>
              </div>

            </div>
            <div class="footer">

              <div class="text-center mb-3">

                <button class="btn-space bg-success text-light" mat-raised-button type="submit" [disabled]="isLoadingButton">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner pulse': isLoadingButton, 'fa-check': !isLoadingButton}"></i>
                  Simpan
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
