<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Business Intelligence'"></app-breadcrumb>
    </div>
    <h3 class="text-center">Business Intelligence</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center">Filtering</h4>
            <form [formGroup]="formInput">
              <div class="row mb-1">
                <div class="col-md-2">Periode Kunjungan</div>
                <div class="col-md-10">
                  <div class="input-group">
                    <input type="text" id="tgl" [class.border-danger]="formInput.value.date_from==null && search" 
                    formControlName="date_from" placeholder="Periode Pendaftaran" bsDaterangepicker 
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', rangeInputFormat : 'DD/MM/YYYY' }" [maxDate]="maxDate" class="form-control">
                    <span class="input-group-text" style="cursor: pointer;background: white; border-left: 0px;" (click)="onFocus('tgl')">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <div class="form-text text-danger"
                      *ngIf="formInput.value.date_from==null && submit">
                      Periode mulai dan selesai tidak boleh kosong
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-2">Poliklinik</div>
                <div class="col-md-10">
                  <select formControlName="id_poliklinik" class="form-control">
                    <option value="">Pilih Poliklinik</option>
                    <option *ngFor="let item of listPoli" [value]="item.id_poliklinik">{{item.nama_poliklinik}}</option>
                  </select>
                  <div class="form-text text-danger"
                      *ngIf="formInput.value.id_poliklinik==null && submit">
                      Poliklinik tidak boleh kosong
                  </div>
                </div>
              </div>
                <div class="col-md-12 text-right mt-3">
                    <button  class="btn-space" mat-raised-button
                    color="primary" (click)="getData()"><i class="fa fa-search"></i> Search</button>
                </div>
              </form>
          </div>
          
        </div>
        <h4 class="my-3">Data Statistik Periode {{setDate(periode[0])}} s/d {{setDate(periode[1])}}</h4>
        <h5 class="card-title mb-4">Informasi Statistik Pasien</h5>
        <div class="">
              <div class="row">
                
                <div class="col-md-4 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-injured float-start text-primary"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Total Pasien Baru</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{pendaftaran.total_pasien_baru}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <div class="card  card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-injured float-start text-warning"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Jumlah Pasien Baru Reguler</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{pendaftaran.pasien_baru_reguler}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-injured float-start text-success"  ></i>
                        <!-- <img src="assets/images/blood-pressure.png" alt=""> -->
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Jumlah Pasien Baru BPJS</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{pendaftaran.pasien_baru_bpjs}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start">
                        <i class="fas fa-user-injured float-start text-success"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Periksa Pasien BPJS</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{kunjungan.kunjungan_bpjs}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start">
                        <i class="fas fa-user-injured float-start text-danger"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Periksa Pasien Reguler</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{kunjungan.kunjungan_reguler}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start">
                        <i class="fas fa-user-injured float-start text-primary"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Periksa Semua Pasien</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{kunjungan.total_kunjungan}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
        <h5 class="card-title mb-4"><b>Informasi Waktu Pelayanan</b></h5>
        <div class="row">
          <div class="col-md-4 mb-1">
            <div class="card card-statistic-2 ">
              <div class="card-body">
                <div class="clearfix p-2">
                  <h5 class="m-b-15">Rerata Waktu Tunggu Perawat</h5>
                  <h2 class="text-end">
                    <i class="fas fa-user-clock text-info float-start" ></i>
                    <span class="col-green">{{waktu.tunggu_perawat}}</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-1">
            <div class="card card-statistic-2 ">
              <div class="card-body">
                <div class="clearfix p-2">
                  <h5 class="m-b-15">Rerata Waktu Pelayanan Perawat</h5>
                  <h2 class="text-end">
                    <i class="fas fa-user-clock text-info float-start" ></i>
                    <span class="col-green">{{waktu.pelayanan_perawat}}</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-1">
            <div class="card card-statistic-2 ">
              <div class="card-body">
                <div class="clearfix p-2">
                  <h5 class="m-b-15">Rerata Waktu Tunggu Dokter</h5>
                  <h2 class="text-end">
                    <i class="fas fa-user-clock text-info float-start" ></i>
                    <span class="col-green">{{waktu.tunggu_dokter}}</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-1">
            <div class="card card-statistic-2 ">
              <div class="card-body">
                <div class="clearfix p-2">
                  <h5 class="m-b-15">Rerata Waktu Pelayanan Dokter</h5>
                  <h2 class="text-end">
                    <i class="fas fa-user-clock text-info float-start" ></i>
                    <span class="col-green">{{waktu.pelayanan_dokter}}</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-1">
            <div class="card card-statistic-2 ">
              <div class="card-body">
                <div class="clearfix p-2">
                  <h5 class="m-b-15">Rerata Waktu Tunggu Farmasi</h5>
                  <h2 class="text-end">
                    <i class="fas fa-user-clock text-info float-start" ></i>
                    <span class="col-green">{{waktu.tunggu_farmasi}}</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-1">
            <div class="card card-statistic-2 ">
              <div class="card-body">
                <div class="clearfix p-2">
                  <h5 class="m-b-15">Rerata Waktu Pelayanan Farmasi</h5>
                  <h2 class="text-end">
                    <i class="fas fa-user-clock text-info float-start" ></i>
                    <span class="col-green">{{waktu.pelayanan_farmasi}}</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
         
        </div>
                
                <div class="col-md-12 mb-1">
                  <div class="card">
                    <div class="card-body">
                      <p class="text-center mb-1"><b>Rerata Waktu Semua Pelayanan</b></p>
                      <apx-chart [series]="barChartOptions3.series" [chart]="chartBarOption.chart"
                        [dataLabels]="chartBarOption.dataLabels" [plotOptions]="chartBarOption.plotOptions"
                        [responsive]="chartBarOption.responsive" [xaxis]="barChartOptions3.xaxis" [yaxis]="barChartOptions3.yaxis"
                        [tooltip]="chartBarOption.tooltip" [legend]="chartBarOption.legend" [fill]="chartBarOption.fill">
                      </apx-chart>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-1">
                  <div class="card">
                    <div class="card-body">
                      <p class="text-center mb-1"><b>Rerata Waktu Tunggu Semua Pelayanan</b></p>
                      <apx-chart [series]="barChartOptions4.series" [chart]="chartBarOption.chart"
                        [dataLabels]="chartBarOption.dataLabels" [plotOptions]="chartBarOption.plotOptions"
                        [responsive]="chartBarOption.responsive" [xaxis]="barChartOptions4.xaxis" [yaxis]="barChartOptions4.yaxis"
                        [tooltip]="chartBarOption.tooltip" [legend]="chartBarOption.legend" [fill]="chartBarOption.fill">
                      </apx-chart>
                    </div>
                  </div>
                </div>
              
          
          <div class="row mb-2">
            <div class="col-md-6 mb-1">
              <div class="card card-success">
                <div class="card-header text-light bg-success">Admin Resepsionis</div>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of divisi.resepsionis;index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.nama_lengkap}}</td>
                        <td>{{item.total_kunjungan}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-right"><b>Total</b></td>
                        <td><b>{{getTotal(divisi.resepsionis)}}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-1">
              <div class="card card-warning">
                <div class="card-header text-light  bg-warning">Admin Perawat</div>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of divisi.perawat;index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.nama_lengkap}}</td>
                        <td>{{item.total_kunjungan}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-right"><b>Total</b></td>
                        <td><b>{{getTotal(divisi.perawat)}}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-danger">
                <div class="card-header text-light  bg-danger">Admin Dokter</div>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                        <th>#</th>
                      </tr>
                    </thead>
                    <tbody>
                  
                      <tr *ngFor="let item of divisi.dokter;index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.nama_lengkap}}</td>
                        <td>{{item.total_kunjungan}}</td>
                        <td class="text-center">
                          <button class="btn btn-link circle-success text-ui-success">
                            <i class="fa fa-file-alt"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-right"><b>Total</b></td>
                        <td><b>{{getTotal(divisi.dokter)}}</b></td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-info">
                <div class="card-header text-light  bg-info">Admin Farmasi</div>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of divisi.farmasi;index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.nama_lengkap}}</td>
                        <td>{{item.total_kunjungan}}</td>
                        
                      </tr>
                      <tr>
                        <td colspan="2" class="text-right"><b>Total</b></td>
                        <td><b>{{getTotal(divisi.farmasi)}}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-1">
              <div class="card ">
                <div class="card-header">Jenis Penyakit</div>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Assesment</th>
                        <th>Jumlah</th>
                        <th>#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of jenis_penyakit; index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.nama_id}}</td>
                        <td>{{item.total_kunjungan}}</td>
                        <td class="text-center">
                          <button class="btn btn-link circle-success text-ui-success">
                            <i class="fa fa-file-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-1">
              <div class="card">
                <div class="card-header">Obat Paling Banyak Dipakai</div>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of obat_terbanyak; index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.nama_obat}}</td>
                        <td>{{item.total_kunjungan}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div class="col-md-6 mb-1">
              <div class="card">
                <div class="card-body">
                  <p class="text-center mb-1"><b>Lokasi Pasien</b></p>
                  <apx-chart [series]="pieChart1Options.series"
                  [chart]="pieChart1Options.chart"
                  [labels]="pieChart1Options.labels"
                  [responsive]="pieChart1Options.responsive">
                    </apx-chart>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-1">
              <div class="card">
                <div class="card-body chart-pie">
                  <p class="text-center mb-1"><b>Presentase Data Gender</b></p>
                  <apx-chart [series]="pieChart2Options.series"
                  [chart]="pieChart2Options.chart"
                  [labels]="pieChart2Options.labels"
                  [responsive]="pieChart2Options.responsive">
                    </apx-chart>
             
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-1">
              <div class="card">
                <div class="card-body chart-pie">
                  <p class="text-center mb-1"><b>Rerata Waktu Kunjungan</b></p>
                  <apx-chart [series]="barChartOptions.series" [chart]="chartBarOption.chart"
                    [dataLabels]="chartBarOption.dataLabels" [plotOptions]="chartBarOption.plotOptions"
                    [responsive]="chartBarOption.responsive" [xaxis]="barChartOptions.xaxis" [yaxis]="barChartOptions.yaxis"
                    [tooltip]="chartBarOption.tooltip" [legend]="chartBarOption.legend" [fill]="chartBarOption.fill">
                  </apx-chart>
                </div>
              </div>
            </div>
          
            <div class="col-md-12 mb-1">
              <div class="card">
                <div class="card-body">
                  <p class="text-center mb-1"><b>Data Usia Pasien</b></p>
                  <apx-chart [series]="barChartOptions2.series" [chart]="chartBarOption.chart"
                    [dataLabels]="chartBarOption.dataLabels" [plotOptions]="chartBarOption.plotOptions"
                    [responsive]="chartBarOption.responsive" [xaxis]="barChartOptions2.xaxis" [yaxis]="barChartOptions2.yaxis"
                    [tooltip]="chartBarOption.tooltip" [legend]="chartBarOption.legend" [fill]="chartBarOption.fill">
                  </apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
[name]="'spinner1'"
bdColor = "rgba(0, 0, 0, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-multiple"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
