<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Surat Dokter'" [items]="[]" [active_item]="'Surat Rujukan'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Surat Rujukan</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-3">
          <div class="row mt-3 mx-2">
            <div class="col-md-4">
              <div class="row mb-2">
                <div class="col-md-4 mt-2">
                  Periode Kunjungan
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" [(ngModel)]="tgl"
                  bsDaterangepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', rangeInputFormat : 'DD/MM/YYYY' }">
                </div>
              </div>
            </div>
          
            <div class="col-md-2">
              <button class="btn-space" mat-raised-button color="primary" (click)="reLoadData()">Lihat Data</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="body" >
            <div class="row w100 mb-2">
              <div class="col-md-10">
                <h5>
                Daftar Pasien Per {{convertDate(tgl[0])+' - '+convertDate(tgl[1])}}
                </h5>
              </div>
              <div class="col-md-2 text-right">
                <button class="btn-space bg-success text-light" mat-raised-button (click)="exportAll()">Export Excel</button>
              </div>
            </div>>
           
            <table class="table table-sm table-bordered table-striped table-sm" width="100%" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <td>No</td>
                  <td>No RM</td>
                  <td>Nama</td>
                  <td>Asuransi</td>
                  <td>JK</td>
                  <td>Usia</td>
                  <td>Waktu Registrasi</td>
                  <td>Aksi</td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
