<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard Dokter'" [items]="[]" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>
    <h3 class="text-center">Dashboard Dokter</h3>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="formInput">
                <div class="row mb-3">
                  <div class="col-md-2">Periode Kunjungan</div>
                  <div class="col-md-10">
                    <input type="text" [class.border-danger]="formInput.value.date_from==null && search" 
                    formControlName="date_from" placeholder="Periode Pendaftaran" bsDaterangepicker 
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', rangeInputFormat : 'DD/MM/YYYY' }"
                    [maxDate]="maxDate" class="form-control">
                    <div class="form-text text-danger"
                        *ngIf="formInput.value.date_from==null && search">
                        Periode mulai dan selesai tidak boleh kosong
                    </div>
                  </div>
                </div>
                  <div class="row mb-3">
                    <div class="col-md-4">
                      
                    </div>
                    <div class="col-md-8 text-right mt-3">
                      <button class="btn-space" mat-raised-button
                      color="primary" (click)="loadData()"><i class="fa fa-search"></i> Search</button>
                    </div>
                  </div>
                </form>
            </div>
            
          </div>
          <h4 class="my-3">Data Statistik Periode {{setDate(periode[0])}} s/d {{setDate(periode[1])}}</h4>
          
          <div class="row">
            <div class="col-md-3 mb-1">
              <div class="card card-box card-statistic-2 ">
                <div class="card-body">
                  <div class="clearfix p-2">
                    <h5 class="m-b-15">Jumlah Antrian Pasien</h5>
                    <h2 class="text-end">
                      <i class="fas fa-user-clock text-info float-start" ></i>
                      <span class="col-green">{{data?data.total_antrian:0}}</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-1">
              <div class="card card-box card-statistic-2 ">
                <div class="card-body">
                  <div class="clearfix p-2">
                    <h5 class="m-b-15">Jumlah Obat Keluar Bulan Ini</h5>
                    <h2 class="text-end">
                      <i class="fas fa-capsules text-danger float-start" ></i>
                      <span class="col-green">{{data?data.obat_keluar:0}}</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-1">
              <div class="card card-box card-statistic-2 ">
                <div class="card-body">
                  <div class="clearfix p-2">
                    <h5 class="m-b-15">Total Pasien Bulan Ini</h5>
                    <h2 class="text-end">
                      <i class="fas fa-user-clock text-warning float-start" ></i>
                      <span class="col-green">{{data?data.total_pasien_baru:0}}</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-1">
              <div class="card card-box card-statistic-2 ">
                <div class="card-body">
                  <div class="clearfix p-2">
                    <h5 class="m-b-15">Jumlah Pasien BPJS Baru Bulan Ini</h5>
                    <h2 class="text-end">
                      <i class="fas fa-user-clock text-success float-start" ></i>
                      <span class="col-green">{{data?data.total_pasien_baru_bpjs:0}}</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive " >
                    <table class="table table-sm table-striped table-bordered table-sm table-sm"  width="100%">
                      <thead>
    
                        <tr>
                          <th>No</th>
                          <th>Assement</th>
                          <th>Jumlah</th>
    
                        </tr>
                      </thead>
                      <tbody>
    
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 " id="box2">
              <div class="row mb-3">
                <div class="col-md-12 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-injured float-start text-success"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Periksa Pasien BPJS Bulan Ini</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{data?data.kunjungan_pasien_bpjs:0}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-injured float-start text-warning"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Periksa Pasien Reguler Bulan Ini</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{data?data.kunjungan_pasien_reguler:0}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-injured float-start text-danger"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Periksa Semua Pasien Bulan Ini</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{data?data.total_kunjungan:0}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="col-md-12 mb-1">
                  <div class="card card-statistic-2 ">
                    <div class="clearfix">
                      <div class="card-icon-only shadow-primary float-start" >
                        <i class="fas fa-user-clock float-start text-primary"  ></i>
                      </div>
                      <div class="card-right">
                        <div>
                          <h5 class="float-end">Lama Waktu Pasien Berobat</h5>
                        </div>
                        <div class="col-green">
                          <h2 class="font-weight-bold float-end mb-0">{{data?data.waktu_tindakan:0}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
[name]="'spinner1'"
bdColor = "rgba(0, 0, 0, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-multiple"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
