<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Katalog Obat'" [items]="[]" [active_item]="'Import CSV'"></app-breadcrumb>
    </div>

    <h3 class="text-center mb-3">Import CSV</h3>
    <div class="col-md-12 mb-3">
    <button type="button" [routerLink]="['../view']"  class="btn-space bg-warning text-light" mat-raised-button><i class="fas fa-arrow-left"></i> Kembali</button>
    </div>
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <p>Download format dokument XLSX yang perlu disini</p>
            <a class="btn-space" mat-raised-button color="primary" href="assets/other/Format-Katalog-Obat.xlsx" download>Download XLSX</a>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="card">
          <div class="header">
            <h4><strong>Upload daftar barang via XLSX</strong></h4>
          </div>
          <div class="body"> 
			<div class="row mb-2">
				<div class="col-md-3">
					<input type="file" (change)="incomingfile($event)" class="form-control mb-2"  accept=".xlsx"#inputFile>
				</div>
        <div class="col-md-1"><button class="btn-space bg-danger text-light mx-2 mb-2"  mat-raised-button (click)="reset()">Reset</button></div>
			</div>
			<app-sheet-obat *ngIf="file!=null" [key]='[{"nama_barang":0,"komposisi":1,"stok_awal":4,"harga_jual":6,"harga_beli":5}]'
       [col]="['0','1','4','6','5']" [fileUpload]="file" rowStart="2"></app-sheet-obat>
           


          </div>
          <div class="footer">
            <div class="text-center mb-3">
              <button class="btn-space bg-success text-light" mat-raised-button (click)="Upload()">Upload dan lanjutkan</button>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <ngx-spinner
	[name]="'spinner1'"
	bdColor = "rgba(0, 0, 0, 0.8)"
	size = "medium"
	color = "#fff"
	type = "ball-clip-rotate-multiple"
	[fullScreen] = "true">
	<p style="color: white" > Loading... </p>
</ngx-spinner>
</section>
