<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Master Data'" [items]="[]" [active_item]="'Rujukan'"></app-breadcrumb>
    </div>
    <h3 class="text-center">Master Rujukan</h3>
    <button type="button" (click)="FormModalOpen(formContent)"  class="btn btn-tambah mb-3 btn-lg"><i class="fas fa-plus-circle"></i> Tambah Baru</button>
    <!-- <button  class="btn-kembali btn btn-lg mb-3" [routerLink]="['../view']" ><i class="fa fa-arrow-circle-left"></i> Kembali</button> -->


    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="card">
          <div class="header">
            <h2><strong>Master Rujukan</strong> </h2>
          </div>
          <div class="body">

            <table class="table table-striped table-bordered table-sm table-sm" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Rujukan</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Rawat Luka</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <ng-template #formContent let-modal>
              <form [formGroup]="formTambah" (submit)="SubmitForm()">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
                </div>
                <div class="modal-body">

                  <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label fw-bold">Rujukan</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control">
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button class="btn btn-kembali" type="button"  (click)="modal.close()">Batal</button>
                  <button class="btn btn-simpan" type="button" color="primary">
                    <i class="fa fa-save"></i>
                    Simpan
                  </button>
                </div>
              </form>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

